/Image/nbproject/private/
/mipt-cs-4sem-master/class04/src/main/java/image/nbproject/private/
/NetBeansProjects/Collectoin/nbproject/private/
/NetBeansProjects/Collectoin/build/
/NetBeansProjects/Collectoin/dist/
/Console/nbproject/private/
/Console/build/
/seminars/class06/target/
/seminars/class07/target/